li {
  list-style: none;
}
button {
  border-radius: 5px;
  background-color: #2fecec;
  color: white;
  margin: 10px;
  height: 30px;
  width: 90px;
  border-style: none;
}
button:hover {
  background-color: #25b3b3;
}
/* menu button.active {
  background-color: #000;
} */
button.active {
  background-color: rgb(10, 169, 218);
}
